Source: s7plc
Section: devel
Priority: extra
Maintainer: Ralph Lange <rlange@bnl.gov>
Build-Depends: debhelper (>= 7),
               epics-dev (>= 3.14.10-10),
               epics-msi,
Standards-Version: 3.8.0
Homepage: http://epics.web.psi.ch/software/s7plc/


Package: libs7plc3.5.1
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EPICS Driver for Siemens S7 PLC via TCP/IP
 EPICS Device and Driver Support to connect Siemens S7 PLCs
 using the SEND/RECEIVE protocol via TCP/IP.
 .
 This package provides shared libraries.

Package: epics-s7plc-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libs7plc3.5.1 (= ${binary:Version}),
Description: EPICS Driver for Siemens S7 PLC via TCP/IP
 EPICS Device and Driver Support to connect Siemens S7 PLCs
 using the SEND/RECEIVE protocol via TCP/IP.
 .
 This package provides files needed to build an
 IOC with the s7plc support.
